@import './variables';

@mixin respond-to($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint `#{$breakpoint}`.";
  }
}
