// Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  '2xl': 1536px,
);
// Colors
$color-bg: #dce0e8;
$color-elements-bg: #bcc0cc;
$color-primary: #1e66f5;
$color-active: #7287fd;
