// Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  '2xl': 1536px,
);
// Colors
$color-bg: #eff1f5;
$color-elements-bg: #ccd0da;
$color-primary: #1e66f5;
$color-remove: #d20f39;
$color-active: #7287fd;
$color-active-remove: #e64553;
