// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-mb: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
// Colors
$color-bg: #dce0e8;
$color-elements-bg: #bcc0cc;
$color-primary: #1e66f5;
$color-active: #7287fd;
