@import '../../styles/mixins';
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  flex-wrap: wrap;
  @include respond-to(sm) {
    flex-direction: column;
    width: 100%;
  }

  &__wind {
    padding-bottom: 20px;
  }
}
