@import '../../styles/mixins';
.container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  flex-wrap: wrap;
  @include respond-to(sm) {
    flex-direction: column;
    width: 100%;
  }
}
