@import '../../styles/mixins';
.container {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 5px;

  @include respond-to(sm) {
    flex-direction: column;
    width: 100%;
  }
}
