@import '../../styles/variables';

.container {
  &__button {
    width: 100%;
    padding: 10px 20px;
    background-color: $color-primary;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    &:active {
      background-color: $color-active;
    }
  }
}
