@import '../../styles/variables';

.container {
  &__button {
    width: 100%;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    &--primary {
      background-color: $color-primary;
      &:active {
        background-color: $color-active;
      }
    }
    &--remove {
      background-color: $color-remove;
      &:active {
        background-color: $color-active-remove;
      }
    }
  }
}
