@import './styles/variables';

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100 vw;
  background: $color-bg;
  &__input {
    position: relative;
    top: 20%;
  }
}
