@import './styles/variables';
@import './styles/mixins';

body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  // height: 100%;
  width: 100vw;
  background: $color-bg;

  @include respond-to(sm) {
    justify-items: center;
    align-items: center;
  }
  &__data {
    padding-top: 20%;
  }
  &__input {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  &__screens {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
