@import './styles/variables';
@import './styles/mixins';
body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $color-bg;

  @include respond-to(sm) {
    justify-items: center;
    align-items: center;
  }
  &__data {
    position: relative;
    top: 20%;
  }
  &__input {
    position: relative;
    z-index: 1;
  }
  &__screens {
    display: flex;
    flex-wrap: wrap;
  }
}
