@import '../../styles/variables';
.container {
  height: 300px;
  width: 200px;
  padding: 5px;
  background: $color-elements-bg;
  border-radius: 5px;
  color: white;
  font-size: small;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    height: 16px;
    width: 16px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    margin-top: auto;
  }
}
