@import '../../styles/variables';
.container {
  height: 300px;
  width: 200px;
  background: $color-elements-bg;
  border-radius: 5px;
  color: white;
  font-size: small;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    height: 16px;
    width: 16px;
  }
}
