@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 25px;
  width: 400px;
  background: white;
  padding: 0px 5px 0px 0px;
  border: 0.5px $color-primary;
  border-radius: 500px;

  @include respond-to(sm) {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
    padding: 0px 15px 0px 15px;
    &:focus {
      outline: none;
    }
  }

  &__icon {
    color: $color-elements-bg;
    transition: color 200ms ease-in-out;
    &:hover {
      color: $color-active;
    }
  }
}
