@import '../../styles/variables';
.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 25px;
  width: 400px;
  background: white;
  padding: 0px 5px 0px 0px;
  border: 0.5px $color-primary;
  border-radius: 500px;

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
    padding: 0px 15px 0px 15px;
    &:focus {
      outline: none;
    }
  }

  &__icon {
    color: $color-elements-bg;
  }
}
